In [1]:
import numpy as np
import pandas as pd
from collections import Counter
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sqlalchemy import MetaData
from sqlalchemy import create_engine
import plotly.express as px
import pickle

In [2]:
# Creating the engine (to connect to the database)

engine = create_engine('postgresql+psycopg2://postgres:password@localhost/cafe_db')

In [3]:
# merging tables

query = """
        SELECT *
        FROM customer_info
        INNER JOIN order_info
        ON customer_info.cust_id = order_info.cust_id;
        """
data = pd.read_sql(query, con=engine)
data = data.loc[:, ~data.columns.duplicated()]

In [4]:
# Defining the regular customer DF

reg_cust_df = data[['cust_id', 'cust_gender', 'cust_age', 'cust_income', 'cust_q1_taste', 'cust_q2_price', 'cust_q3_calories', 'total_spend']]

In [5]:
reg_cust_df.isnull().sum()

cust_id                0
cust_gender            0
cust_age               0
cust_income         6541
cust_q1_taste          0
cust_q2_price          0
cust_q3_calories       0
total_spend            0
dtype: int64

In [6]:
# Dropping the null values in customer income column

reg_cust_df.dropna(subset=['cust_income'], inplace=True)

/Users/imac/opt/anaconda3/envs/pythonData/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [7]:
# determining the customers with more than 5 visits to the store in the last year 

regular_cust = reg_cust_df.groupby("cust_id").filter(lambda x: len(x) >= 5 ).cust_id.tolist()

In [8]:
# creating a new column for regular customers (regular customer:1 , non-regular customer:0)

reg_cust_df['reg_cust'] = reg_cust_df['cust_id'].apply(lambda x: 1 if x in regular_cust else 0)

/Users/imac/opt/anaconda3/envs/pythonData/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [9]:
# creating ranges for customers' income,

reg_cust_df['cust_income_range'] = pd.cut(reg_cust_df['cust_income'], bins=[0, 25000, 50000, 75000, 100000, 125000, 150000, 175000, 500000], include_lowest=True, labels=[1,2,3,4,5,6,7,8])

/Users/imac/opt/anaconda3/envs/pythonData/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [10]:
reg_cust_df.head()

,cust_id,cust_gender,cust_age,cust_income,cust_q1_taste,cust_q2_price,cust_q3_calories,total_spend,reg_cust,cust_income_range
1,4389,0,34,11190.0,1,4,1,3.70,0,1
2,20984,0,46,91292.0,5,5,1,2.05,0,4
3,6776,1,47,89551.0,3,4,2,2.05,0,4
4,16515,1,43,64310.0,4,3,2,2.20,0,3
6,22878,1,41,71791.0,5,3,2,1.75,0,3

In [11]:
# Defining features and target for

X = reg_cust_df.drop(['cust_id',
'cust_income',
'reg_cust'
],1)
y = reg_cust_df.reg_cust.values
X.head()

,cust_gender,cust_age,cust_q1_taste,cust_q2_price,cust_q3_calories,total_spend,cust_income_range
1,0,34,1,4,1,3.70,1
2,0,46,5,5,1,2.05,4
3,1,47,3,4,2,2.05,4
4,1,43,4,3,2,2.20,3
6,1,41,5,3,2,1.75,3

In [12]:
# Creating training and testing datasets

X_train, X_test, y_train, y_test = train_test_split(X,y,  random_state=1, stratify=y)
X_train.shape

(36150, 7)

In [13]:
Counter(y_train)

Counter({1: 13616, 0: 22534})

In [14]:
#  Using standard scaler to scale the data

scaler = StandardScaler()

X_scaler = scaler.fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [15]:
# Creating and training Random Forest Classifier

rfc = RandomForestClassifier(n_estimators=128, random_state=78)

rfc.fit(X_train_scaled, y_train)

RandomForestClassifier(n_estimators=128, random_state=78)

In [16]:
# Predicting the outcome
rfc_predictions = rfc.predict(X_test_scaled)

In [17]:
# Accuracy of the model

accuracy_score(y_test, rfc_predictions)

0.7853112033195021

In [18]:
# Confusion matrix

confusion_matrix(y_test, rfc_predictions)

array([[6379, 1132],
       [1455, 3084]])

In [19]:
# Classification report

print(classification_report(y_test, rfc_predictions))

              precision    recall  f1-score   support

           0       0.81      0.85      0.83      7511
           1       0.73      0.68      0.70      4539

    accuracy                           0.79     12050
   macro avg       0.77      0.76      0.77     12050
weighted avg       0.78      0.79      0.78     12050

In [20]:
# Getting the importance of each feature in the model

# importances = rfc.feature_importances_
# importances

In [21]:
# feats = {} # a dict to hold feature_name: feature_importance
# for feature, importance in zip(X.columns, rfc.feature_importances_):
#     feats[feature] = importance #add the name/value pair 

# importances = pd.DataFrame.from_dict(feats, orient='index').rename(columns={0: 'Gini-importance'})
# importances.sort_values(by='Gini-importance', ascending=False).plot(kind='bar')

In [22]:
# Saving the model

# with open('models/reg_cust/reg_cust_model.pkl', 'wb') as file:
#     pickle.dump(rfc, file)

In [23]:
# Saving the standard scaler

# with open('models/reg_cust/reg_cust_sc.pkl', 'wb') as file:
#     pickle.dump(X_scaler, file)